<!DOCTYPE html>
<html>
<head>
  <title>BreakMC</title>
  <!-- JS -->
  <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
  <script type="text/javascript" src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">BreakMC</a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/forum">Forum <i class="fa fa-comment" style='padding-left: 2px;padding:0.35em'></i></a></li>
      <li><a href="/tickets">Tickets & Applications <i class="fa fa-pencil" style='padding-left: 2px;padding:0.35em'></i></a></li>
      <li><a href="/updates">Updates <i class="fa fa-exclamation" style='padding-left: 2px;padding:0.35em'></i></a></li>
      <li><a href="/staff">Staff <i class="fa fa-trophy" style='padding-left: 2px;padding:0.35em'></i></a></li>
      <li><a href="/store">Store <i class="fa fa-shopping-cart" style='padding-left: 2px;padding:0.35em'></i></a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right" style='padding: 0; margin: 0;'>
      <li><a href="/profile">My Profile <i class="fa fa-user" style='padding-left: 2px;padding:0.35em'></i></a></li>
      <li><a href="/{{auth_type}}">{{auth_type}}</a></li>
    </ul>
  </div>
</nav>

<div class='container'>
  {{{body}}}
</div>
</body>
</html>