<div class="jumbotron" style=''>
  <h1>Admin Panel</h1>
  <p>Hello Admins! From here you can control the whole of the site. Please use your powers wisely :)</p>
</div>

<form action="" method="POST" role="form">
  <legend>Form title</legend>

  <div class="form-group">
    <label for="">label</label>
    <input type="text" class="form-control" id="" placeholder="Input field">
  </div>

  

  <button type="submit" class="btn btn-primary">Submit</button>
</form>