<div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <h4>This Site is Still in Development.</h4>
  <p>If you find any bugs or problems you can contact the web developer using a bug report in the ticket system!</p>
</div>

<div class="jumbotron" style=''>
  <h1>BreakMC</h1>
  <p>Brace yourself for the release of the Ultimate PVP Network, starting with AdvancedPvP. The world famous SoupPvP Teams server.</p>
  <a class="btn btn-info" href='/register'>Register or Login</a>
</div>

<div class='homeinfo'>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">AdvancedPvP <img src="/assets/soupicon.png" style='width: 25px; height: 25px; margin-left: 5px;'></h3>
    </div>
    <div class="panel-body">
      AdvancedPvP is a SoupPvP server in which mushroom soup heals your hearts! Battle with the best of the best, track your enemies, create a team and rise to the top on AdvancedPvP.com!
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">MCHCF <img src="/assets/instant.png" style='width: 25px; height: 25px; margin-left: 5px;'></h3>
    </div>
    <div class="panel-body">
       If you like Hardcore Factions, MCHCF is for you. Cleanly programmed, user-friendly, and accompanied by an amazing staff team MCHCF is the ultimate Hardcore Factions server! Capture KOTHs, raid, survive and more on MCHCF.com!
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Deathban<img src="/assets/goldicon.png" style='width: 25px; height: 25px; margin-left: 5px;'></h3>
    </div>
    <div class="panel-body">
      You've never seen anything like it. Deathban is a gamemode completely unique to The BreakMC Network. Gold is the only way to break blocks, and mobs are the only way to heal. Give it a try and we guarantee you'll have one of the most Hardcore Minecraft experiences around on Deathban.net!
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">PracticePots<img src="/assets/sword.png" style='width: 25px; height: 25px; margin-left: 5px;'></h3>
    </div>
    <div class="panel-body">
      PotionPvP? Say no more. PracticePots is a balanced, fun, competitive PotionPvP Practice Server. Boasting an incredible 1vs1 system, fun events, an ELO system, and FFA Arenas; PracticePots.com is THE place for PotionPvP!
    </div>
  </div>
</div>