
<div class="jumbotron" style=''>
  <h1>Register or Login</h1>
  <p><b>To Register: </b>go onto the BreakMC server and do /register {password} to create an encrypted account.</p>
</div>

<h2 style='color: #B10012; text-align: center;'>{{err}}</h2>

<form action="/login" method="POST" role="form">
  <legend>Login</legend>

  <div class="form-group">
  <div class="form-group">
    <input type="text" class="form-control" id="username" placeholder="Username" name="username" autocomplete='off'>

    <br>

    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
  </div>

  

  <button type="submit" class="btn btn-primary">Submit</button>
</form>