<div class="jumbotron" style=''>
  <h1>New Ticket</h1>
  <p>BreakMC uses an immersive ticket system to handle xray reports, applications and more! Go ahead and make a ticket to get started!</p>
</div>

  <label for='ticketType'>Ticket Type:</label>
  <select class="form-control ticketType" name='type'>
    <option value='select_type'>Select a Type</option>
    <option value='xray'>Xray</option>
    <option value='bug'>Bug Report</option>
  </select>

    <br> 

  <label for='ticketType'>Application Type:</label>
    <select class="form-control ticketType" name='type'>
    <option value='select_type'>Select a Type</option>
    <option value='youtube'>YouTube Application</option>
    <option value='moderator'>Moderator Application</option>
  </select>
 
  <br>

  <div class="ticket xray">
    <form action="" method="POST" role="form">
      <legend>Xray Ticket</legend>

      <input type='text' name='type' style='display: none;' value='xray' />
    
      <div class="form-group">

        <label for="world">World: </label>
          <select name="world" id='world' class='form-control form-inline'>
            <option value="Overworld">Overworld</option>
            <option value="Nether">Nether</option>
            <option value="End">End</option>
          </select>
          
          <br><br>

          <label for='coords'>Coordinates: </label>
          <div class="coords form-group form-inline" id='coords'>
              X:  <input class='form-control' type="number" name="x" min="-10000" max="10000"> 
              Y:  <input class='form-control' type="number" name="y" min="0" max="265"> 
              Z:  <input class='form-control' type="number" name="z" min="-10000" max="10000"> 
          </div>

          <br>

          <label for='playersWithAccess'>Players with access to warp: </label>
          <input type="text" name="playersWithAccess" class="form-control" required="required" >
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <div class="ticket bug">
    <form action="" method="POST" role="form">
      <legend>Bug Reports</legend>

      <input type='text' name='type' style='display: none;' value='bug' />

      <div class="form-group">
        <label>Bug Information:</label>
        <textarea name="body" id="inputContent" class="form-control" rows="3" required="required"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <div class="ticket youtube">
    <div class='youtubeInfo'>
      <div style='padding-right: 50px; text-align: left'>
        <h3>YouTube Rank Requirements:</h3>
        <p>2,000 Subscribers.</p>
        <p>1 video uploaded on any of our servers.</p>
        <p>At least 500 views on the said video.</p>
      </div>

      <div>
        <h3><b>YouTube+</b> Rank Requirements:</h3>
        <p>3,500 Subscribers.</p>
        <p>2 videos uploaded on any of our servers.</p>
        <p>At least 1,000 views on the said videos.</p>
      </div>
    </div>

    <br>

    <form action="" method="POST" role="form">

      <input type='text' name='type' style='display: none;' value='youtube' />

      <div class="form-group">
        <label for="">Channel URL</label>
        <input type="text" class="form-control" name='channel'>
        
        <br>

        <label for="">BreakMC Videos (Separate with a space)</label>
        <input type="text" class="form-control" name='videos'>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <div class="ticket moderator">
    <form action="" method="POST" role="form">
      <legend>Moderator Application</legend>
    
      <input type='text' name='type' style='display: none;' value='moderator' />

      <div class="form-group">
        <label for="">Age:</label>
        <input type="text" class="form-control" name="age">

        <br>

       <label for="">Timezone:</label>
        <input type="text" class="form-control" name="timezone">

        <br>

       <label for="">Skype:</label>
        <input type="text" class="form-control" name="skype">

        <br>     
         <label for="">Server:</label>
          <select name="server" class='form-control form-inline'>
              <option selected value="AdvancedPvP">
                  AdvancedPvP
              </option>
              <option value="EliteKits">
                  EliteKits
              </option>
              <option value="PracticePots">
                  PracticePots
              </option>
              <option value="MC-HCF">
                  MCHCF
              </option>
          </select>

        <br>

        <label for="">Experience:</label>
        <textarea name="experience" class="form-control" rows="3" required="required" style='resize: none;'></textarea>

        <br>

       <label for="">Additional Information:</label>
        <textarea name="aditionalInfo" class="form-control" rows="3" required="required" style='resize: none;'></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

<!-- Scripts -->
<script type="text/javascript" src='/js/new_ticket.js'></script>